/*Background colour of navigation bar.*/
.NavBar {
    background-color: #ffffff;
    border: 1px solid #555555;
  }
    
  /* .NavLink {
    padding: 5px;
  } */
  
  /* .Active i {
    color: #3b2fe8;
  }

  .NavLink active {
    color: #f5c66e;
  }

  .Navlink {
    color: #555555;
  }
  
  .active {
    color: rgb(221, 53, 171), 110, 238)
  } */
