.Heading {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    width: 50%;
    height: 50%;
}

/*Style Form*/
.Input {
    border: 1px solid #555555;
    margin: 5px;
}

.Container {
    padding-top: 30px;
}

/*Sign in link*/
.Link {
    text-decoration: none;
    display: block;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
}

.Link:hover {
    cursor: pointer;
    transition: color ease-in-out 0.1s;
    font-size: 20px;
    color: #50ee50;
}